{:source-paths #{"src"}
 :layers       {:server     {:namespaces         #{sample.server}
                             :accessed-by-layers #{}}
                :controller {:defined-by         ".*\\.controller\\..*"
                             :accessed-by-layers #{:server}}
                :logic      {:defined-by         ".*\\.logic\\..*"
                             :accessed-by-layers #{:controller}}}}
